@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

// Utility functions like findColorInvert
@import "./bulma/sass/utilities/functions.sass";

$red: #d42e12; //Official mcgill red: Pantone 485
$gold: #957b38;
$silver: #c0c0c0;
$blue: #3b5be9;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $red;
$primary-invert: findColorInvert($red);
$link: $blue;
$link-invert: findColorInvert($blue);

// Customization for navbar, including dropdowns
$navbar-dropdown-background-color: $primary;
$navbar-item-color: $silver;
$navbar-dropdown-arrow: $silver;

// Customization of colors
$box-color: $silver;                //pages table of content

// Disable full-hd mode so that the layout is never above ~1350px wide
// mode readable this way
$fullhd-enabled: false;

// Import only what you need from Bulma
@import "./bulma/bulma.sass";